@import url(https://fonts.google.com/specimen/Montserrat);
#apiEnquiryForm , #apiEnquiryForm2 , #apiEnquiryForm3 {
margin: 0px;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
padding: 25px;
width: 50%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border-radius: 0px;
background: #ffffff;
color: #000000;
}



#apply-form label {

	background: #888888 ;
}
#apiEnquiryForm * , #apiEnquiryForm3 * , #apiEnquiryForm2 * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


#apiEnquiryForm label, #apiEnquiryForm2 label , #apiEnquiryForm3 label {
	display: block;
    color: #888888;
}

#apiEnquiryForm label.radio , #apiEnquiryForm2 label.radio , #apiEnquiryForm3 label.radio {
	display: inline;
}

#apiEnquiryForm input[type=text] ,
#apiEnquiryForm input[type=number] ,
#apiEnquiryForm input[type=email] ,
#apiEnquiryForm select ,
#apiEnquiryForm textarea,
#apiEnquiryForm2 input[type=text] ,
#apiEnquiryForm2 input[type=number] ,
#apiEnquiryForm2 input[type=email] ,
#apiEnquiryForm2 select ,
#apiEnquiryForm2 textarea ,
#apiEnquiryForm3 input[type=text] ,
#apiEnquiryForm3 input[type=number] ,
#apiEnquiryForm3 input[type=email] ,
#apiEnquiryForm3 select ,
#apiEnquiryForm3 textarea  {
	width: 100%;
	max-width: 100% !important;
	padding: 10px;
	border-width: 0;
	border-style: solid;
	border-color: #ffffff;
	background: #ffffff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2) !important;
	font-size: 16px;
	color: #12426f;
}
input[type="text"]:focus {
	border-color: #316282 !important;}
#apiEnquiryForm input[type="text"]:focus , #apiEnquiryForm2 input[type="text"]:focus , #apiEnquiryForm3 input[type="text"]:focus{
border-color: #316282 !important;
}
#apiEnquiryForm input[type=text]:focus , #apiEnquiryForm2 input[type=text]:focus , #apiEnquiryForm3 input[type=text]:focus {
border-color: #316282 !important;
}
#apiEnquiryForm input[type=text]:focus , #apiEnquiryForm2 input[type=text]:focus , #apiEnquiryForm3 input[type=text]:focus,
#apiEnquiryForm input[type=number]:focus , #apiEnquiryForm2 input[type=number]:focus , #apiEnquiryForm3 input[type=number]:focus,
#apiEnquiryForm input[type=email]:focus , #apiEnquiryForm2 input[type=email]:focus , #apiEnquiryForm3 input[type=email]:focus {
    border-color: #316282 !important;
    background-image: url(/Images/Ok_icon.png);
    background-repeat: no-repeat;
    background-position: 95%;
}
#apiEnquiryForm select , #apiEnquiryForm2 select , #apiEnquiryForm3 select {
	background-image: url(/Images/dropdown_arrow.png);
    background-repeat: no-repeat;
    background-position: 95%;
	-moz-appearance: none;
 -webkit-appearance: none;
	
}


#apiEnquiryForm input.postCode , #apiEnquiryForm2 input.postCode, #apiEnquiryForm3 input.postCode{
	width:100%;
}

#apiEnquiryForm select.landLineNumberAreaCode, #apiEnquiryForm2 select.landLineNumberAreaCode , #apiEnquiryForm3 select.landLineNumberAreaCode{
	width:25%;
}

#apiEnquiryForm input.landLineNumber , #apiEnquiryForm2 input.landLineNumber, #apiEnquiryForm3 input.landLineNumber{
	width:70%;
	float:right;
}

#apiEnquiryForm select.state , #apiEnquiryForm2 select.state , #apiEnquiryForm3 select.state{
	width:100%;
}

#apiEnquiryForm textarea ,  #apiEnquiryForm2 textarea , #apiEnquiryForm3 textarea {
	height:80px;
}

#apiEnquiryForm input[type=button] , #apiEnquiryForm2 input[type=button] , #apiEnquiryForm3 input[type=button] {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aad75b', endColorstr='#d1e990');
	background-color: #12426f;
	border-radius: 0px !important;
	color: #ffffff;
	font-size: 16px !important;
	height: 43px !important;
	line-height: 43px !important;
	padding: 0 !important;
	border: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
	cursor: pointer;
	font-weight: 600;
	outline: 2 none;
	overflow: hidden;
	position: relative !important;
	text-align: center;
	text-shadow: none;
	width: 100%;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.19);
	margin-bottom: 5px;
	bottom: 0 !important;
	border: 0 !important;
	text-transform: capitalize !important;
	max-width: 100%;
	float: right;
	margin-top: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#apiEnquiryForm input[type=button]:hover , #apiEnquiryForm2 input[type=button]:hover , #apiEnquiryForm3 input[type=button]:hover{
	background-color: #1c6bb6;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.12);
    box-shadow: 0 1px 6px rgba(0,0,0,0.12);
    -webkit-transition: -webkit-box-shadow 0.2s ease-out, background-color 0.2s ease;
    transition: box-shadow 0.2s ease-out, background-color 0.2s ease;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15) !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
#apiEnquiryForm input[type=button]:active , #apiEnquiryForm2 input[type=button]:active , #apiEnquiryForm3 input[type=button]:active{
	position:relative;
	top:1px;
}


	#apiEnquiryForm p.api-post-failed , #apiEnquiryForm2 p.api-post-failed , #apiEnquiryForm3 p.api-post-failed {
		color: red;
		color: red;
	}

	#apiEnquiryForm p.api-post-success , #apiEnquiryForm2 p.api-post-success , #apiEnquiryForm3 p.api-post-success{
	}

	@media (max-width: 220px) {
		#apiEnquiryForm select.state , #apiEnquiryForm2 select.state , #apiEnquiryForm3 select.state{
			width:100% !important;
		}	
		#apiEnquiryForm input.postCode , #apiEnquiryForm2 input.postCode , #apiEnquiryForm3 input.postCode {
			width:100% !important;
		}
		#apiEnquiryForm select.landLineNumberAreaCode , #apiEnquiryForm2 select.landLineNumberAreaCode , #apiEnquiryForm3 select.landLineNumberAreaCode{
			width:30% !important;
		}
		#apiEnquiryForm input.landLineNumber , #apiEnquiryForm2 input.landLineNumber , #apiEnquiryForm3 input.landLineNumber {
			width:65% !important;
		}

	}

	@media (max-width: 166px) {
		#apiEnquiryForm select.landLineNumberAreaCode , #apiEnquiryForm2 select.landLineNumberAreaCode , #apiEnquiryForm3 select.landLineNumberAreaCode {
			width:100% !important;
		}	
		#apiEnquiryForm input.landLineNumber , #apiEnquiryForm2 input.landLineNumber , #apiEnquiryForm3 input.landLineNumber {
			float:none !important;
			width:100% !important;
		}
		#apiEnquiryForm select.state , #apiEnquiryForm2 select.state , #apiEnquiryForm3 select.state {
			width:100% !important; 
		}
		#apiEnquiryForm input.postCode , #apiEnquiryForm2 input.postCode , #apiEnquiryForm3 input.postCode {
			width:100% !important;
		}	
	}
	.squaredFour {
		width: 100%;
		margin: 20px auto;
		position: relative;
	}

	.squaredFour label {
		    display: inline-block !important;
   			 margin-top: 4px !important;
    		float: left !important;
    		margin-right: 10px !important;
    		cursor: pointer !important;
   	 		width: 25px !important;
    		height: 30px !important;
    		background-image: url(/Images/TC-icon.png) !important;
   			 background-repeat: no-repeat !important;
	}
	.squaredFour input[type=checkbox]:checked + label{
		background-image: url(/Images/TC-icon_checked.png) !important;
		}


	.squaredFour label:hover::after {
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)' !important;
		filter: alpha(opacity=30) !important;
		opacity: 0.5 !important;
	}

	.squaredFour input[type=checkbox]:checked + label:after {
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)' !important;
		filter: alpha(opacity=100) !important;
		opacity: 1;
	}
	.squaredFour p{
		display: inline;
	}

	.nocreaitimapct {
		background-color: white;
		border-radius: 0 0 15px 15px;
		width: 50%;
		text-align: center;
		padding-bottom: 15px;
	}	
	
	.column-enquire-form .enquire-now-title {
		width: 50%;
		border-radius: 15px 15px 0 0;
		padding-top: 15px;
		height: 40px;
		display: none!important;
	}
	
	.column-enquire-form .enquire-now-subtitle {
		width: 50%;
		height: 60px;
		display: none!important;
	}

	@media (max-width: 850px) {	
		.column-enquire-form #apiEnquiryForm {
			margin: auto;
		}
	}

	@media (max-width: 775px) {
		.nocreaitimapct {
			width: 100%!important;
		}
	}		

	.enquire-now-sidebar #apiEnquiryForm {
		background-color: #306bb6;
		width: 100%;		
	}

	.enquire-now-sidebar .nocreaitimapct {
		background-color: #306bb6;
		width: 100%;
		border-radius: 0 0 25px 25px;
		color: #fff;
	}
	
	.enquire-now-sidebar #apiEnquiryForm label {
		color: #fff;
		font-weight: 500;
	}
	
	.enquire-now-sidebar .enquire-now-title {
		background-color: #306bb6;
		border-radius: 25px 25px 0 0;
	}
		
	.enquire-now-sidebar #apiEnquiryForm .btn-info {
		background-color: #f1c40f;
		color: black;
		font-weight: 600;
		border-radius: 0!important;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	.enquire-now-sidebar #apiEnquiryForm .btn-info:hover {
		background-color: #ffcc00;		
	}

	.enquire-now-sidebar .enquire-form {
		padding-top: 0%!important;
	}

	.column-enquire-form #apiEnquiryForm  {
		background-image: url(https://www.cleancredit.com.au/wp-content/uploads/2019/04/enquire-form-frame.png);
		background-repeat: no-repeat;
		background-size: 100% 700px;
		background-attachment: scroll;
		background-position: center center;
		height: 750px;
		width: 350px;
		padding: 180px 40px 0 40px;
		background-color: transparent;
	}

	.column-enquire-form .nocreaitimapct {
		background-color: transparent;		
		position: absolute;
		top: 670px;
		width: 350px;
	}

	.column-enquire-form #apiEnquiryForm label {
		color: #000;
		font-weight: 500;
		text-align: left
	}

	.column-enquire-form #apiEnquiryForm textarea {
		height: 40px;			
		min-height: 40px;
		resize: none;
	}

	.column-enquire-form #apiEnquiryForm .squaredFour {
		font-weight: 500;
	}

	#termsError {
		display: none!important;
	}