body {
font-family: macho, sans-serif;
font-weight: 400;
font-style: normal;
background-color: #FFFFFF;
}
p {
font-family: macho, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 16px!important;
}
.module-buttons span  {
padding-bottom: 5px;
}
.themify_builder_content-12 .tb_eotg327.module_row p {
font-size: 12px!important;
line-height: 1.5;
}
.callout-button a:hover {
background-color: #f37458!important;
color: #FFF!important;
}
#apiEnquiryForm {
width: auto!important;
}
h1, h2, h3, h4, h5, h6 {
font-family: macho, sans-serif!important;
}
h1, h2, h3, h4, h5, h6 {
font-weight: 700;
font-style: normal;
text-transform: none;
line-height: 1.4;
margin: 0 0 .2em;
word-wrap: normal;
color: #173863;
}
.ui.builder_button {
background-color: #F37458;
}
#apiEnquiryForm, #apiEnquiryForm2, #apiEnquiryForm3 {
background: #388aca!important;
border-radius: 10px!important;
}
#apiEnquiryForm label, #apiEnquiryForm2 label, #apiEnquiryForm3 label {
font-size: 15px!important;
color: #FFF!important;
}
#apiEnquiryForm input[type=button], #apiEnquiryForm2 input[type=button], #apiEnquiryForm3 input[type=button] {
background: #f26c4f!important;
}
.nocreaitimapct {
background: none!important;
padding-top: 15px;
font-size: 19px;
font-weight: 700!important;
width: auto!important;
color: #173863!important;
font-family: macho, sans-serif!important;
}
h1, .h1 {
font-size: 45px;
}
h2, .h2 {
font-size: 34px;
padding-top: 20px;
padding-bottom: 0px;
color: #173863;
}
h3, .h3 {
font-size: 24px;
}
h4, .h4 {
letter-spacing: 0px;
text-transform: none;
padding-bottom: 9px;
font-size: 18px;
}
.module-image .image-title {
font-size: 16px;
font-weight: 600;
}
#footer a {
color: #42434a;
font-size: 14px;
}
.themify_builder .text-16-1-0-0.module-text h2, h2 .h2 {
letter-spacing: 0px;
}
.themify_builder_799_row.module_row_1 h3:not(.module-title), h3 { 
font-size: 22px;
color: #1B325F;
}
.post-title a {
color: #1B325F;
}
.enquire-now-sidebar #apiEnquiryForm .btn-info{
background-color: #F26C4F;
}
#main-nav li {
color: #FFF;
}
li{
color: #58595B;
font-size: 17px;
}
.footer-widgets .widgettitle {
font-size: 18px;
color: #1B325F;
text-align: center;
text-transform:none;
letter-spacing: 0px;
}
.column-enquire-form .nocreaitimapct {    top: 600px;
}
.carousel-pager {
color: #fff;
}
.button-border-radius-15 a {
border-radius: 0px!important;
}
.quick-links li {
padding: 20px 0;
border-bottom: #ccc 1px solid;
}
.quick-links li a {
color: #444!important;
font-size: 18px;
}
.blog-post-grid article {
box-shadow: 0 0px 0px rgba(0,0,0,.5)!important
}
.wpcf7 input[type=submit]{
background-color: #4579bd!important;
}
.testimonial-home-page .caroufredsel_wrapper {
padding-bottom: 20px!important;	
}
.testimonial-home-page .testimonial-image img {
padding: 20px; }
.testimonial-home-page li div {
}
.testimonial-home-page .testimonial-content, .testimonial-home-page .testimonial-entry-content, .testimonial-home-page .testimonial-content-main, .testimonial-home-page .testimonial-author, .testimonial-home-page .person-name, .testimonial-home-page .person-company {
border-top: none;
box-shadow: none;	
min-height: auto;
}
.may-interested-in .loops-wrapper.grid3 .post-title {    
min-height: 50px;
}
@media (min-width: 681px) and (max-width: 1000px) {	
.may-interested-in .loops-wrapper.grid3 .post-title {    
min-height: 90px;
}
}
#footerwrap {
padding: 0;
}
.blog-page-row {
background-size: 100% 100%;
}
#main-nav-wrap #main-nav .current_page_item  a, #main-nav .current-menu-item  a {    
border-bottom: #fff 3px solid;
background-color: transparent;
}
.callout-button a {
background-color: #1996d3!important;
border: none!important;
}
#main-nav-wrap #main-nav .sub-menu .current_page_item  a, #main-nav .sub-menu .current-menu-item  a { 
background-color: #5e92d5;
}
.testimonials-sidebar .module-title, .quick-links .module-title {
padding: 15px 5px 5px 5px;
color: #FFF;
}
.page-id-7497 .wp-image-8551 {
display:none!important;
}
@media (max-width: 785px) {	
.home-page-title h1, .home-page-text {
padding: 0 5%!important;
}
.home-page-title h1, .home-page-text p {
text-align: center!important;
}
}
@media (max-width: 600px) {	
.home-page-title h1 {
font-size: 36px!important;
}
}
#site-logo a img {
padding-top: 15px!important;
width: 200px!important;
}
#main-nav-wrap {
margin-top: 5px!important;
}
@media (min-width: 918px) and (max-width: 1100px) {	
#site-logo a img {  
margin-top: 8px!important;  
}
#header {    
padding: 5px 0!important;
max-width: 100%!important;
}
}
.mobile_menu_active #headerwrap .sidemenu-on a, .mobile_menu_active #headerwrap #main-nav a, .mobile_menu_active #headerwrap #main-nav ul a {    
padding: 8px;
}
#main-nav a {
font-weight: 500;
font-size: 15px;
margin-left: 10px
}
@media screen and (max-width: 680px) {
#headerwrap.fixed-header #site-logo img:not(#sticky_header_logo) {
max-height: 100%!important;
}
}
@media screen and (max-width: 680px) {
#sidebar a, #sidebar-alt a {
color: #1096d4;
width: 100%;
display: inline-block;
}
}
.themify_builder .text-8-0-0-0.module-text, .themify_builder .text-8-0-0-0.module-text h1, .themify_builder .text-8-0-0-0.module-text h2, .themify_builder .text-8-0-0-0.module-text h3:not(.module-title), .themify_builder .text-8-0-0-0.module-text h4, .themify_builder .text-8-0-0-0.module-text h5, .themify_builder .text-8-0-0-0.module-text h6 {
}
@media screen and (max-width: 1000px) {
#sidebar, .list-post {
width:100%!important;
}
}	
.related-posts {
display: none;
}
.loops-wrapper.list-post .post-date, .single .post-content .post-date {
background-color: #EF7150;
}
.module-image.image-card-layout {
box-sizing: border-box;
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
text-align: center;}
#footer, #footer-logo, .footer-nav a, .footer-text {
}
.themify_builder .testimonial-slider-8-5-0-1.module-testimonial-slider .testimonial-content {
padding-top: 20px;
padding-bottom: 20px;
color: #1B325F;
background-color: #E9F2F9
}
@media screen and (max-width: 680px) {
.module-buttons.xlarge span, .module-buttons.large span, .module-icon.large span {
color: #FFFFFF;
width: 100%;
display: inline-block;
}
}
.tb_text_wrap h3 {
font-size: 22px!important;
margin-bottom: 10px;
}
.tb_text_wrap p {
font-size: 15px;
}
.tb_text_wrap li {
font-size: 15px;
}
.themify_builder .text-8-8-0-0.module-text h2, .themify_builder .text-8-9-0-0.module-text h2{
text-transform: none;
}
@media screen and (max-width: 680px) {
.module-buttons.xlarge span, .mod.themify_builder .post-8-7-0-1.module-post, .themify_builder .post-8-7-0-1.module-post aule-buttons.large span, .module-icon.large span, .post-title {
font-weight: lighter;
letter-spacing: 0px
}
@media screen and (max-width: 768px){
.themify_builder .text-8-0-0-1.module-text, .themify_builder .text-8-0-0-1.module-text h1, .themify_builder .text-8-0-0-1.module-text h2, .themify_builder .text-8-0-0-1.module-text h3:not(.module-title), .themify_builder .text-8-0-0-1.module-text h4, .themify_builder .text-8-0-0-1.module-text h5, .themify_builder .text-8-0-0-1.module-text h6 {
text-align: center;
font-family: macho, sans-serif;
}}
.themify_builder .buttons-8-6-0-2 .module-buttons .module-buttons-item a {
background-color: #F26C4F;
}
@media screen and (max-width: 768px) {
.themify_builder .text-8-1-0-0.module.module-text h2 {
font-family: macho, sans-serif!important;
}}
@media screen and (max-width: 680px) {
.themify_builder .text-8-3-0-1.module-text, .themify_builder .text-8-3-0-1.module-text h1, .themify_builder .text-8-3-0-1.module-text h2, .themify_builder .text-8-3-0-1.module-text h3:not(.module-title), .themify_builder .text-8-3-0-1.module-text h4, .themify_builder .text-8-3-0-1.module-text h5, .themify_builder .text-8-3-0-1.module-text h6 {
}}
.callout-button a {
border-radius: 0px;
}
@media screen and (max-width: 768px){
.themify_builder .text-8-1-1-0.module.module-text h2 {
}}
@media screen and (max-width: 680px){
#pagewrap #headerwrap.fixed-header, .transparent-header #pagewrap #headerwrap.fixed-header {
}}
}
.wpcf7 input[type=submit] {
background-color: #f26c4f!important;
border-radius:0px;
}
.module-accordion h3 {
color: #173863;
}
.ui.module-accordion .accordion-title a, .ui.module-accordion .accordion-title a:hover {
background: #e0ecf4;
color: #173863;
}
ul ul {
list-style-type: disc;
}
#content {
padding: 0px
}
#tbp_footer p {
font-size: 12px!important;
line-height: 1.4;
}