.themify_builder_content-12 .tb_k5mc575.module_row{background-position:center center; background-attachment:scroll; background-repeat:no-repeat;background-size:cover; background-image:url(https://www.cleancredit.com.au/wp-content/uploads/2019/12/credit-assessment-banner-2.jpg); padding-bottom:10px; background-color:rgba(238, 96, 34, 1); margin-bottom:0px; margin-top:0px; padding-left:0px; padding-right:0px; padding-top:8px;}
.themify_builder_content-12 .tb_igmz577.module_column{padding-top:30px;}
.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap p,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap blockquote,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap h1,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap h2,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap h3,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap h4,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap h5,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap h6,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap li,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_sjs8577.module-text{margin-right:14px; padding-top:19px;}
.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap p,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap blockquote,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap h1,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap h2,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap h3,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap h4,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap h5,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap h6,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap li,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_potc578.module-text{margin-left:50px; margin-right:50px;}
.themify_builder_content-12 .tb_02ro578.module_column{padding-left:0px;}
.themify_builder_content-12 .tb_p6fe744.module_row{padding-bottom:66px; padding-top:36px;}
.themify_builder_content-12 .tb_33kx745.module_column{padding-top:13px;}
.themify_builder_content-12 .tb_vjhk746.module-buttons i,.themify_builder_content-12 .tb_vjhk746.module-buttons span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_vjhk746.module-buttons{margin-top:-7px; padding-top:7px;}
.themify_builder_content-12 .tb_vjhk746.module-buttons .module-buttons-item a:hover{background-color:rgba(23, 56, 99, 1);background-image:none;}
.themify_builder_content-12 .tb_v20v612.module_row{padding-top:0px; background-color:rgba(247, 250, 252, 1); padding-bottom:61px; margin-top:2px;}
.themify_builder_content-12 .tb_fpab613.module-text{padding-bottom:0px; padding-top:10px;}
.themify_builder_content-12 .tb_fpab613.module-text.module .tb_text_wrap h1{color:rgba(23, 56, 99, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_bnkq614.module_subrow{padding-top:37px;}
.themify_builder_content-12 .tb_fqnn203.module_row{padding-bottom:42px; padding-top:8px;}
.themify_builder_content-12 .tb_p67w203.module_column{padding-right:2px; padding-top:54px;}
.themify_builder_content-12 .tb_6pha204.module-image{padding-top:16px;}
.themify_builder_content-12 .tb_wqid204.module-image{padding-top:16px;}
.themify_builder_content-12 .tb_3v8o204.module-image{padding-top:16px; margin-bottom:30px;}
.themify_builder_content-12 .tb_80fg679.module_row{margin-top:-2px;}
.themify_builder_content-12 .tb_1v34679.module_column,.themify_builder_content-12 .tb_1v34679.module_column p,.themify_builder_content-12 .tb_1v34679.module_column h1,.themify_builder_content-12 .tb_1v34679.module_column h2,.themify_builder_content-12 .tb_1v34679.module_column h3:not(.module-title),.themify_builder_content-12 .tb_1v34679.module_column h4,.themify_builder_content-12 .tb_1v34679.module_column h5,.themify_builder_content-12 .tb_1v34679.module_column h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-12 .tb_1v34679.module_column{text-align:center; padding:5%;}
.themify_builder_content-12 .tb_1v34679.module_column>.builder_row_cover::before,.themify_builder_content-12 .tb_1v34679.module_column>.ms-tableCell>.builder_row_cover::before{background-color:rgba(224, 236, 244, 1);}
.themify_builder_content-12 .tb_tmcu679.module_column{background-color:rgba(56, 138, 202, 1); text-align:center; padding-top:11%; padding-right:7%; padding-bottom:7%; padding-left:8%;}
.themify_builder_content-12 .tb_tmcu679.module_column,.themify_builder_content-12 .tb_tmcu679.module_column p,.themify_builder_content-12 .tb_tmcu679.module_column h1,.themify_builder_content-12 .tb_tmcu679.module_column h2,.themify_builder_content-12 .tb_tmcu679.module_column h3:not(.module-title),.themify_builder_content-12 .tb_tmcu679.module_column h4,.themify_builder_content-12 .tb_tmcu679.module_column h5,.themify_builder_content-12 .tb_tmcu679.module_column h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-12 .tb_1i0u680.module-text{margin-bottom:6px;}
.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap,.themify_builder_content-12 .tb_pb4j680.module-slider .slide-content a,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap p,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap blockquote,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap h1,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap h2,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap h3,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap h4,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap h5,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap h6,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap li,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_a784680.module-buttons i,.themify_builder_content-12 .tb_a784680.module-buttons span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_a784680.module-buttons .module-buttons-item a:hover{background-color:rgba(23, 56, 99, 1);background-image:none;}
.themify_builder_content-12 .tb_hpnq680.module_column{text-align:center; padding-top:5%; padding-right:5%; padding-bottom:0%; padding-left:5%; background-color:rgba(56, 138, 202, 1);}
.themify_builder_content-12 .tb_wuxa680.module_subrow{padding-bottom:16px;}
.themify_builder_content-12 .tb_mn4u681.module_column{background-color:rgba(255, 255, 255, 1); text-align:center; padding-top:6%; padding-right:8%; padding-bottom:5%; padding-left:8%;}
.themify_builder_content-12 .tb_bvpw681.module-image.module .module-title{text-align:center;}
.themify_builder_content-12 .tb_bvpw681.module-image .image-content{text-align:center;}
.themify_builder_content-12 .tb_6bvs681.module-buttons i,.themify_builder_content-12 .tb_6bvs681.module-buttons span{color:rgba(56, 138, 202, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_6bvs681.module-buttons{margin-top:55px;}
.themify_builder_content-12 .tb_6bvs681.module-buttons.module .module-buttons .module-buttons-item a{border:1px solid rgba(56, 138, 202, 1);}
.themify_builder_content-12 .tb_l1iu221.module_row{background-color:rgba(68, 122, 188, 1);}
.themify_builder_content-12 .tb_kpuw222.module_column{padding-top:30px;}
.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap p,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap blockquote,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap h1,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap h2,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap h3,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap h4,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap h5,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap h6,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap li,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_10dp222.module-text.module h3{font-size:32px;}
.themify_builder_content-12 .tb_10dp222.module-text{padding-bottom:3%;}
.themify_builder_content-12 .tb_rjoi222.module-post .post{padding-bottom:0px;}
.themify_builder_content-12 .tb_rjoi222.module-post span,.themify_builder_content-12 .tb_rjoi222.module-post a:not(.post-edit-link),.themify_builder_content-12 .tb_rjoi222.module-post p{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_wams223.module-buttons i,.themify_builder_content-12 .tb_wams223.module-buttons span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_wams223.module-buttons{text-align:center; padding-bottom:49px; padding-top:0%;}
.themify_builder_content-12 .tb_wams223.module-buttons .module-buttons-item a{background-color:rgba(242, 108, 79, 1);background-image:none;}
.themify_builder_content-12 .tb_wams223.module-buttons .module-buttons-item a:hover{background-color:rgba(23, 56, 99, 1);background-image:none;}
@media screen and (max-width: 1280px) {
.themify_builder_content-12 .tb_tmcu679.module_column{padding-bottom:13%; padding-top:12%;}
.themify_builder_content-12 .tb_1i0u680.module-text{margin-bottom:52px;}
}
@media screen and (max-width: 768px) {
.themify_builder_content-12 .tb_k5mc575.module_row{margin-bottom:0px; margin-top:0px; padding-left:0px; padding-bottom:10px; padding-right:0px; padding-top:24px;}
.themify_builder_content-12 .tb_igmz577.module_column{padding-right:267px;}
.themify_builder_content-12 .tb_potc578.module-text{margin-right:-4px; margin-left:1px;}
.themify_builder_content-12 .tb_v20v612.module_row{padding-top:0%; margin-top:2px; padding-bottom:33px;}
.themify_builder_content-12 .tb_fpab613.module-text{padding-top:1px;}
.themify_builder_content-12 .tb_vw5j615.module_column{padding-bottom:14px;}
.themify_builder_content-12 .tb_kwjk615.module_column{padding-bottom:16px;}
.themify_builder_content-12 .tb_1i0u680.module-text{margin-bottom:65px; padding-top:44px;}
.themify_builder_content-12 .tb_kpuw222.module_column{padding-top:10px;}
.themify_builder_content-12 .tb_10dp222.module-text{padding-bottom:2%;}
.themify_builder_content-12 .tb_wams223.module-buttons{padding-bottom:36px;}
}
@media screen and (max-width: 680px) {
.themify_builder_content-12 .tb_k5mc575.module_row{padding-top:25px; padding-right:2px; background-color:rgba(238, 96, 34, 1); background-position:left bottom; background-attachment:scroll; background-repeat:no-repeat;background-size:cover; background-image:url(https://www.cleancredit.com.au/wp-content/uploads/2019/12/credit-assessment-banner-2.jpg); padding-bottom:21px; margin-bottom:0px; margin-top:-5px;}
.themify_builder_content-12 .tb_igmz577.module_column{padding-right:0px; padding-left:26px;}
.themify_builder_content-12 .tb_sjs8577.module-text{margin-left:0px; margin-right:20px; padding-right:0px; padding-top:0px;}
.themify_builder_content-12 .tb_potc578.module-text{margin-right:3px; margin-left:0px;}
.themify_builder_content-12 .tb_p6fe744.module_row{padding-bottom:38px;}
.themify_builder_content-12 .tb_33kx745.module_column{padding-top:10px;}
.themify_builder_content-12 .tb_snbp745.module-text{margin-bottom:22px;}
.themify_builder_content-12 .tb_vjhk746.module-buttons{margin-top:7px;}
.themify_builder_content-12 .tb_v20v612.module_row{text-align:center; margin-top:2px; padding-top:0%; padding-bottom:2%;}
.themify_builder_content-12 .tb_fpab613.module-text{padding-top:0px;}
.themify_builder_content-12 .tb_bnkq614.module_subrow{padding-top:22px;}
.themify_builder_content-12 .tb_vw5j615.module_column{padding-bottom:0px;}
.themify_builder_content-12 .tb_4ksp615.module-image{margin-bottom:24px;}
.themify_builder_content-12 .tb_p9qo615.module_column{padding-top:22px;}
.themify_builder_content-12 .tb_fqnn203.module_row{padding-top:34px; padding-bottom:35px;}
.themify_builder_content-12 .tb_p67w203.module_column{padding-top:9px; padding-bottom:0px;}
.themify_builder_content-12 .tb_a6kx204.module_column{padding-top:26px;}
.themify_builder_content-12 .tb_1v34679.module_column{padding-bottom:4%; padding-left:4%; padding-right:4%; padding-top:4%;}
.themify_builder_content-12 .tb_tmcu679.module_column{padding-top:0%; padding-bottom:7%;}
.themify_builder_content-12 .tb_1i0u680.module-text{margin-bottom:18px;}
.themify_builder_content-12 .tb_hpnq680.module_column{padding-top:6%; padding-left:5%; padding-bottom:3%; padding-right:5%;}
.themify_builder_content-12 .tb_mn4u681.module_column{padding-bottom:6%;}
.themify_builder_content-12 .tb_kpuw222.module_column{padding-top:15px;}
.themify_builder_content-12 .tb_rjoi222.module-post{font-family:"Montserrat";}
}body {
font-family: macho, sans-serif;
font-weight: 400;
font-style: normal;
background-color: #FFFFFF;
}
p {
font-family: macho, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 16px!important;
}
.module-buttons span  {
padding-bottom: 5px;
}
.themify_builder_content-12 .tb_eotg327.module_row p {
font-size: 12px!important;
line-height: 1.5;
}
.callout-button a:hover {
background-color: #f37458!important;
color: #FFF!important;
}
#apiEnquiryForm {
width: auto!important;
}
h1, h2, h3, h4, h5, h6 {
font-family: macho, sans-serif!important;
}
h1, h2, h3, h4, h5, h6 {
font-weight: 700;
font-style: normal;
text-transform: none;
line-height: 1.4;
margin: 0 0 .2em;
word-wrap: normal;
color: #173863;
}
.ui.builder_button {
background-color: #F37458;
}
#apiEnquiryForm, #apiEnquiryForm2, #apiEnquiryForm3 {
background: #388aca!important;
border-radius: 10px!important;
}
#apiEnquiryForm label, #apiEnquiryForm2 label, #apiEnquiryForm3 label {
font-size: 15px!important;
color: #FFF!important;
}
#apiEnquiryForm input[type=button], #apiEnquiryForm2 input[type=button], #apiEnquiryForm3 input[type=button] {
background: #f26c4f!important;
}
.nocreaitimapct {
background: none!important;
padding-top: 15px;
font-size: 19px;
font-weight: 700!important;
width: auto!important;
color: #173863!important;
font-family: macho, sans-serif!important;
}
h1, .h1 {
font-size: 45px;
}
h2, .h2 {
font-size: 34px;
padding-top: 20px;
padding-bottom: 0px;
color: #173863;
}
h3, .h3 {
font-size: 24px;
}
h4, .h4 {
letter-spacing: 0px;
text-transform: none;
padding-bottom: 9px;
font-size: 18px;
}
.module-image .image-title {
font-size: 16px;
font-weight: 600;
}
#footer a {
color: #42434a;
font-size: 14px;
}
.themify_builder .text-16-1-0-0.module-text h2, h2 .h2 {
letter-spacing: 0px;
}
.themify_builder_799_row.module_row_1 h3:not(.module-title), h3 { 
font-size: 22px;
color: #1B325F;
}
.post-title a {
color: #1B325F;
}
.enquire-now-sidebar #apiEnquiryForm .btn-info{
background-color: #F26C4F;
}
#main-nav li {
color: #FFF;
}
li{
color: #58595B;
font-size: 17px;
}
.footer-widgets .widgettitle {
font-size: 18px;
color: #1B325F;
text-align: center;
text-transform:none;
letter-spacing: 0px;
}
.column-enquire-form .nocreaitimapct {    top: 600px;
}
.carousel-pager {
color: #fff;
}
.button-border-radius-15 a {
border-radius: 0px!important;
}
.quick-links li {
padding: 20px 0;
border-bottom: #ccc 1px solid;
}
.quick-links li a {
color: #444!important;
font-size: 18px;
}
.blog-post-grid article {
box-shadow: 0 0px 0px rgba(0,0,0,.5)!important
}
.wpcf7 input[type=submit]{
background-color: #4579bd!important;
}
.testimonial-home-page .caroufredsel_wrapper {
padding-bottom: 20px!important;	
}
.testimonial-home-page .testimonial-image img {
padding: 20px; }
.testimonial-home-page li div {
}
.testimonial-home-page .testimonial-content, .testimonial-home-page .testimonial-entry-content, .testimonial-home-page .testimonial-content-main, .testimonial-home-page .testimonial-author, .testimonial-home-page .person-name, .testimonial-home-page .person-company {
border-top: none;
box-shadow: none;	
min-height: auto;
}
.may-interested-in .loops-wrapper.grid3 .post-title {    
min-height: 50px;
}
@media (min-width: 681px) and (max-width: 1000px) {	
.may-interested-in .loops-wrapper.grid3 .post-title {    
min-height: 90px;
}
}
#footerwrap {
padding: 0;
}
.blog-page-row {
background-size: 100% 100%;
}
#main-nav-wrap #main-nav .current_page_item  a, #main-nav .current-menu-item  a {    
border-bottom: #fff 3px solid;
background-color: transparent;
}
.callout-button a {
background-color: #1996d3!important;
border: none!important;
}
#main-nav-wrap #main-nav .sub-menu .current_page_item  a, #main-nav .sub-menu .current-menu-item  a { 
background-color: #5e92d5;
}
.testimonials-sidebar .module-title, .quick-links .module-title {
padding: 15px 5px 5px 5px;
color: #FFF;
}
.page-id-7497 .wp-image-8551 {
display:none!important;
}
@media (max-width: 785px) {	
.home-page-title h1, .home-page-text {
padding: 0 5%!important;
}
.home-page-title h1, .home-page-text p {
text-align: center!important;
}
}
@media (max-width: 600px) {	
.home-page-title h1 {
font-size: 36px!important;
}
}
#site-logo a img {
padding-top: 15px!important;
width: 200px!important;
}
#main-nav-wrap {
margin-top: 5px!important;
}
@media (min-width: 918px) and (max-width: 1100px) {	
#site-logo a img {  
margin-top: 8px!important;  
}
#header {    
padding: 5px 0!important;
max-width: 100%!important;
}
}
.mobile_menu_active #headerwrap .sidemenu-on a, .mobile_menu_active #headerwrap #main-nav a, .mobile_menu_active #headerwrap #main-nav ul a {    
padding: 8px;
}
#main-nav a {
font-weight: 500;
font-size: 15px;
margin-left: 10px
}
@media screen and (max-width: 680px) {
#headerwrap.fixed-header #site-logo img:not(#sticky_header_logo) {
max-height: 100%!important;
}
}
@media screen and (max-width: 680px) {
#sidebar a, #sidebar-alt a {
color: #1096d4;
width: 100%;
display: inline-block;
}
}
.themify_builder .text-8-0-0-0.module-text, .themify_builder .text-8-0-0-0.module-text h1, .themify_builder .text-8-0-0-0.module-text h2, .themify_builder .text-8-0-0-0.module-text h3:not(.module-title), .themify_builder .text-8-0-0-0.module-text h4, .themify_builder .text-8-0-0-0.module-text h5, .themify_builder .text-8-0-0-0.module-text h6 {
}
@media screen and (max-width: 1000px) {
#sidebar, .list-post {
width:100%!important;
}
}	
.related-posts {
display: none;
}
.loops-wrapper.list-post .post-date, .single .post-content .post-date {
background-color: #EF7150;
}
.module-image.image-card-layout {
box-sizing: border-box;
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
text-align: center;}
#footer, #footer-logo, .footer-nav a, .footer-text {
}
.themify_builder .testimonial-slider-8-5-0-1.module-testimonial-slider .testimonial-content {
padding-top: 20px;
padding-bottom: 20px;
color: #1B325F;
background-color: #E9F2F9
}
@media screen and (max-width: 680px) {
.module-buttons.xlarge span, .module-buttons.large span, .module-icon.large span {
color: #FFFFFF;
width: 100%;
display: inline-block;
}
}
.tb_text_wrap h3 {
font-size: 22px!important;
margin-bottom: 10px;
}
.tb_text_wrap p {
font-size: 15px;
}
.tb_text_wrap li {
font-size: 15px;
}
.themify_builder .text-8-8-0-0.module-text h2, .themify_builder .text-8-9-0-0.module-text h2{
text-transform: none;
}
@media screen and (max-width: 680px) {
.module-buttons.xlarge span, .mod.themify_builder .post-8-7-0-1.module-post, .themify_builder .post-8-7-0-1.module-post aule-buttons.large span, .module-icon.large span, .post-title {
font-weight: lighter;
letter-spacing: 0px
}
@media screen and (max-width: 768px){
.themify_builder .text-8-0-0-1.module-text, .themify_builder .text-8-0-0-1.module-text h1, .themify_builder .text-8-0-0-1.module-text h2, .themify_builder .text-8-0-0-1.module-text h3:not(.module-title), .themify_builder .text-8-0-0-1.module-text h4, .themify_builder .text-8-0-0-1.module-text h5, .themify_builder .text-8-0-0-1.module-text h6 {
text-align: center;
font-family: macho, sans-serif;
}}
.themify_builder .buttons-8-6-0-2 .module-buttons .module-buttons-item a {
background-color: #F26C4F;
}
@media screen and (max-width: 768px) {
.themify_builder .text-8-1-0-0.module.module-text h2 {
font-family: macho, sans-serif!important;
}}
@media screen and (max-width: 680px) {
.themify_builder .text-8-3-0-1.module-text, .themify_builder .text-8-3-0-1.module-text h1, .themify_builder .text-8-3-0-1.module-text h2, .themify_builder .text-8-3-0-1.module-text h3:not(.module-title), .themify_builder .text-8-3-0-1.module-text h4, .themify_builder .text-8-3-0-1.module-text h5, .themify_builder .text-8-3-0-1.module-text h6 {
}}
.callout-button a {
border-radius: 0px;
}
@media screen and (max-width: 768px){
.themify_builder .text-8-1-1-0.module.module-text h2 {
}}
@media screen and (max-width: 680px){
#pagewrap #headerwrap.fixed-header, .transparent-header #pagewrap #headerwrap.fixed-header {
}}
}
.wpcf7 input[type=submit] {
background-color: #f26c4f!important;
border-radius:0px;
}
.module-accordion h3 {
color: #173863;
}
.ui.module-accordion .accordion-title a, .ui.module-accordion .accordion-title a:hover {
background: #e0ecf4;
color: #173863;
}
ul ul {
list-style-type: disc;
}
#content {
padding: 0px
}
#tbp_footer p {
font-size: 12px!important;
line-height: 1.4;
}