.themify_builder_content-6 .tb_c5r2800.module_row a{color:rgba(196, 148, 58, 1);}
.themify_builder_content-6 .tb_c5r2800.module_row,.themify_builder_content-6 .tb_c5r2800.module_row p,.themify_builder_content-6 .tb_c5r2800.module_row h1,.themify_builder_content-6 .tb_c5r2800.module_row h2,.themify_builder_content-6 .tb_c5r2800.module_row h3:not(.module-title),.themify_builder_content-6 .tb_c5r2800.module_row h4,.themify_builder_content-6 .tb_c5r2800.module_row h5,.themify_builder_content-6 .tb_c5r2800.module_row h6{color:rgba(196, 148, 58, 1);}
.themify_builder_content-6 .tb_c5r2800.module_row a:hover{color:rgba(153, 153, 153, 1);}
.themify_builder_content-6 .tb_c5r2800.module_row{padding-top:25px; background-color:rgba(23, 56, 99, 1); margin-bottom:0px; padding-bottom:19px;}
.themify_builder_content-6 .tb_id9k291.module-image{padding:8px;}
.themify_builder_content-6 .tb_v1jk745.module-icon span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-6 .tb_v1jk745.module-icon{font-weight:400;font-family:"Open Sans"; padding-top:25px;}
.themify_builder_content-6 .tb_v1jk745.module-icon .module-icon-item i{color:rgba(255, 255, 255, 1);}