.themify_builder_content-12 .tb_k5mc575.module_row{background-position:center center; background-attachment:scroll; background-repeat:no-repeat;background-size:cover; background-image:url(https://www.cleancredit.com.au/wp-content/uploads/2019/12/credit-assessment-banner-2.jpg); padding-bottom:10px; background-color:rgba(238, 96, 34, 1); margin-bottom:0px; margin-top:0px; padding-left:0px; padding-right:0px; padding-top:8px;}
.themify_builder_content-12 .tb_igmz577.module_column{padding-top:30px;}
.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap p,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap blockquote,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap h1,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap h2,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap h3,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap h4,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap h5,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap h6,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap li,.themify_builder_content-12 .tb_sjs8577.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_sjs8577.module-text{margin-right:14px; padding-top:19px;}
.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap p,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap blockquote,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap h1,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap h2,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap h3,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap h4,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap h5,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap h6,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap li,.themify_builder_content-12 .tb_potc578.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_potc578.module-text{margin-left:50px; margin-right:50px;}
.themify_builder_content-12 .tb_02ro578.module_column{padding-left:0px;}
.themify_builder_content-12 .tb_p6fe744.module_row{padding-bottom:66px; padding-top:36px;}
.themify_builder_content-12 .tb_33kx745.module_column{padding-top:13px;}
.themify_builder_content-12 .tb_vjhk746.module-buttons i,.themify_builder_content-12 .tb_vjhk746.module-buttons span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_vjhk746.module-buttons{margin-top:-7px; padding-top:7px;}
.themify_builder_content-12 .tb_vjhk746.module-buttons .module-buttons-item a:hover{background-color:rgba(23, 56, 99, 1);background-image:none;}
.themify_builder_content-12 .tb_v20v612.module_row{padding-top:0px; background-color:rgba(247, 250, 252, 1); padding-bottom:61px; margin-top:2px;}
.themify_builder_content-12 .tb_fpab613.module-text{padding-bottom:0px; padding-top:10px;}
.themify_builder_content-12 .tb_fpab613.module-text.module .tb_text_wrap h1{color:rgba(23, 56, 99, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_bnkq614.module_subrow{padding-top:37px;}
.themify_builder_content-12 .tb_fqnn203.module_row{padding-bottom:42px; padding-top:8px;}
.themify_builder_content-12 .tb_p67w203.module_column{padding-right:2px; padding-top:54px;}
.themify_builder_content-12 .tb_6pha204.module-image{padding-top:16px;}
.themify_builder_content-12 .tb_wqid204.module-image{padding-top:16px;}
.themify_builder_content-12 .tb_3v8o204.module-image{padding-top:16px; margin-bottom:30px;}
.themify_builder_content-12 .tb_80fg679.module_row{margin-top:-2px;}
.themify_builder_content-12 .tb_1v34679.module_column,.themify_builder_content-12 .tb_1v34679.module_column p,.themify_builder_content-12 .tb_1v34679.module_column h1,.themify_builder_content-12 .tb_1v34679.module_column h2,.themify_builder_content-12 .tb_1v34679.module_column h3:not(.module-title),.themify_builder_content-12 .tb_1v34679.module_column h4,.themify_builder_content-12 .tb_1v34679.module_column h5,.themify_builder_content-12 .tb_1v34679.module_column h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-12 .tb_1v34679.module_column{text-align:center; padding:5%;}
.themify_builder_content-12 .tb_1v34679.module_column>.builder_row_cover::before,.themify_builder_content-12 .tb_1v34679.module_column>.ms-tableCell>.builder_row_cover::before{background-color:rgba(224, 236, 244, 1);}
.themify_builder_content-12 .tb_tmcu679.module_column{background-color:rgba(56, 138, 202, 1); text-align:center; padding-top:11%; padding-right:7%; padding-bottom:7%; padding-left:8%;}
.themify_builder_content-12 .tb_tmcu679.module_column,.themify_builder_content-12 .tb_tmcu679.module_column p,.themify_builder_content-12 .tb_tmcu679.module_column h1,.themify_builder_content-12 .tb_tmcu679.module_column h2,.themify_builder_content-12 .tb_tmcu679.module_column h3:not(.module-title),.themify_builder_content-12 .tb_tmcu679.module_column h4,.themify_builder_content-12 .tb_tmcu679.module_column h5,.themify_builder_content-12 .tb_tmcu679.module_column h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-12 .tb_1i0u680.module-text{margin-bottom:6px;}
.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap,.themify_builder_content-12 .tb_pb4j680.module-slider .slide-content a,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap p,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap blockquote,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap h1,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap h2,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap h3,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap h4,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap h5,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap h6,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap li,.themify_builder_content-12 .tb_pb4j680.module-slider .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_a784680.module-buttons i,.themify_builder_content-12 .tb_a784680.module-buttons span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_a784680.module-buttons .module-buttons-item a:hover{background-color:rgba(23, 56, 99, 1);background-image:none;}
.themify_builder_content-12 .tb_hpnq680.module_column{text-align:center; padding-top:5%; padding-right:5%; padding-bottom:0%; padding-left:5%; background-color:rgba(56, 138, 202, 1);}
.themify_builder_content-12 .tb_wuxa680.module_subrow{padding-bottom:16px;}
.themify_builder_content-12 .tb_mn4u681.module_column{background-color:rgba(255, 255, 255, 1); text-align:center; padding-top:6%; padding-right:8%; padding-bottom:5%; padding-left:8%;}
.themify_builder_content-12 .tb_bvpw681.module-image.module .module-title{text-align:center;}
.themify_builder_content-12 .tb_bvpw681.module-image .image-content{text-align:center;}
.themify_builder_content-12 .tb_6bvs681.module-buttons i,.themify_builder_content-12 .tb_6bvs681.module-buttons span{color:rgba(56, 138, 202, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_6bvs681.module-buttons{margin-top:55px;}
.themify_builder_content-12 .tb_6bvs681.module-buttons.module .module-buttons .module-buttons-item a{border:1px solid rgba(56, 138, 202, 1);}
.themify_builder_content-12 .tb_l1iu221.module_row{background-color:rgba(68, 122, 188, 1);}
.themify_builder_content-12 .tb_kpuw222.module_column{padding-top:30px;}
.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap p,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap blockquote,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap h1,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap h2,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap h3,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap h4,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap h5,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap h6,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap li,.themify_builder_content-12 .tb_10dp222.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_10dp222.module-text.module h3{font-size:32px;}
.themify_builder_content-12 .tb_10dp222.module-text{padding-bottom:3%;}
.themify_builder_content-12 .tb_rjoi222.module-post .post{padding-bottom:0px;}
.themify_builder_content-12 .tb_rjoi222.module-post span,.themify_builder_content-12 .tb_rjoi222.module-post a:not(.post-edit-link),.themify_builder_content-12 .tb_rjoi222.module-post p{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_wams223.module-buttons i,.themify_builder_content-12 .tb_wams223.module-buttons span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-12 .tb_wams223.module-buttons{text-align:center; padding-bottom:49px; padding-top:0%;}
.themify_builder_content-12 .tb_wams223.module-buttons .module-buttons-item a{background-color:rgba(242, 108, 79, 1);background-image:none;}
.themify_builder_content-12 .tb_wams223.module-buttons .module-buttons-item a:hover{background-color:rgba(23, 56, 99, 1);background-image:none;}
@media screen and (max-width: 1280px) {
.themify_builder_content-12 .tb_tmcu679.module_column{padding-bottom:13%; padding-top:12%;}
.themify_builder_content-12 .tb_1i0u680.module-text{margin-bottom:52px;}
}
@media screen and (max-width: 768px) {
.themify_builder_content-12 .tb_k5mc575.module_row{margin-bottom:0px; margin-top:0px; padding-left:0px; padding-bottom:10px; padding-right:0px; padding-top:24px;}
.themify_builder_content-12 .tb_igmz577.module_column{padding-right:267px;}
.themify_builder_content-12 .tb_potc578.module-text{margin-right:-4px; margin-left:1px;}
.themify_builder_content-12 .tb_v20v612.module_row{padding-top:0%; margin-top:2px; padding-bottom:33px;}
.themify_builder_content-12 .tb_fpab613.module-text{padding-top:1px;}
.themify_builder_content-12 .tb_vw5j615.module_column{padding-bottom:14px;}
.themify_builder_content-12 .tb_kwjk615.module_column{padding-bottom:16px;}
.themify_builder_content-12 .tb_1i0u680.module-text{margin-bottom:65px; padding-top:44px;}
.themify_builder_content-12 .tb_kpuw222.module_column{padding-top:10px;}
.themify_builder_content-12 .tb_10dp222.module-text{padding-bottom:2%;}
.themify_builder_content-12 .tb_wams223.module-buttons{padding-bottom:36px;}
}
@media screen and (max-width: 680px) {
.themify_builder_content-12 .tb_k5mc575.module_row{padding-top:25px; padding-right:2px; background-color:rgba(238, 96, 34, 1); background-position:left bottom; background-attachment:scroll; background-repeat:no-repeat;background-size:cover; background-image:url(https://www.cleancredit.com.au/wp-content/uploads/2019/12/credit-assessment-banner-2.jpg); padding-bottom:21px; margin-bottom:0px; margin-top:-5px;}
.themify_builder_content-12 .tb_igmz577.module_column{padding-right:0px; padding-left:26px;}
.themify_builder_content-12 .tb_sjs8577.module-text{margin-left:0px; margin-right:20px; padding-right:0px; padding-top:0px;}
.themify_builder_content-12 .tb_potc578.module-text{margin-right:3px; margin-left:0px;}
.themify_builder_content-12 .tb_p6fe744.module_row{padding-bottom:38px;}
.themify_builder_content-12 .tb_33kx745.module_column{padding-top:10px;}
.themify_builder_content-12 .tb_snbp745.module-text{margin-bottom:22px;}
.themify_builder_content-12 .tb_vjhk746.module-buttons{margin-top:7px;}
.themify_builder_content-12 .tb_v20v612.module_row{text-align:center; margin-top:2px; padding-top:0%; padding-bottom:2%;}
.themify_builder_content-12 .tb_fpab613.module-text{padding-top:0px;}
.themify_builder_content-12 .tb_bnkq614.module_subrow{padding-top:22px;}
.themify_builder_content-12 .tb_vw5j615.module_column{padding-bottom:0px;}
.themify_builder_content-12 .tb_4ksp615.module-image{margin-bottom:24px;}
.themify_builder_content-12 .tb_p9qo615.module_column{padding-top:22px;}
.themify_builder_content-12 .tb_fqnn203.module_row{padding-top:34px; padding-bottom:35px;}
.themify_builder_content-12 .tb_p67w203.module_column{padding-top:9px; padding-bottom:0px;}
.themify_builder_content-12 .tb_a6kx204.module_column{padding-top:26px;}
.themify_builder_content-12 .tb_1v34679.module_column{padding-bottom:4%; padding-left:4%; padding-right:4%; padding-top:4%;}
.themify_builder_content-12 .tb_tmcu679.module_column{padding-top:0%; padding-bottom:7%;}
.themify_builder_content-12 .tb_1i0u680.module-text{margin-bottom:18px;}
.themify_builder_content-12 .tb_hpnq680.module_column{padding-top:6%; padding-left:5%; padding-bottom:3%; padding-right:5%;}
.themify_builder_content-12 .tb_mn4u681.module_column{padding-bottom:6%;}
.themify_builder_content-12 .tb_kpuw222.module_column{padding-top:15px;}
.themify_builder_content-12 .tb_rjoi222.module-post{font-family:"Montserrat";}
}