.themify_builder_content-9 .tb_eotg327.module_row{border-top:0px solid rgba(0, 0, 0, 0.10); padding-bottom:25px; padding-top:0px; margin-top:80px; font-size:16px; background-color:rgba(224, 236, 244, 1);}
.themify_builder_content-9 .tb_eotg327.module_row a{text-decoration:none; color:rgba(255, 255, 255, 1);}
.themify_builder_content-9 .tb_eotg327.module_row,.themify_builder_content-9 .tb_eotg327.module_row p,.themify_builder_content-9 .tb_eotg327.module_row h1,.themify_builder_content-9 .tb_eotg327.module_row h2,.themify_builder_content-9 .tb_eotg327.module_row h3:not(.module-title),.themify_builder_content-9 .tb_eotg327.module_row h4,.themify_builder_content-9 .tb_eotg327.module_row h5,.themify_builder_content-9 .tb_eotg327.module_row h6{color:rgba(255, 255, 255, 1); font-weight:400;font-family:"Open Sans";}
.themify_builder_content-9 .tb_eotg327.module_row a:hover{color:rgba(153, 153, 153, 1);}
.themify_builder_content-9 .tb_oqzi328.module_column{padding-bottom:0px;}
.themify_builder_content-9 .tb_0jyk573.module-text.module .module-title{color:rgba(23, 56, 99, 1);}
.themify_builder_content-9 .tb_0jyk573.module-text{margin-top:50px; font-size:14px;}
.themify_builder_content-9 .tb_0jyk573.module-text .tb_text_wrap,.themify_builder_content-9 .tb_0jyk573.module-text .tb_text_wrap p,.themify_builder_content-9 .tb_0jyk573.module-text .tb_text_wrap blockquote,.themify_builder_content-9 .tb_0jyk573.module-text .tb_text_wrap h1,.themify_builder_content-9 .tb_0jyk573.module-text .tb_text_wrap h2,.themify_builder_content-9 .tb_0jyk573.module-text .tb_text_wrap h3,.themify_builder_content-9 .tb_0jyk573.module-text .tb_text_wrap h4,.themify_builder_content-9 .tb_0jyk573.module-text .tb_text_wrap h5,.themify_builder_content-9 .tb_0jyk573.module-text .tb_text_wrap h6,.themify_builder_content-9 .tb_0jyk573.module-text .tb_text_wrap li,.themify_builder_content-9 .tb_0jyk573.module-text .tb_text_wrap span{color:rgba(0, 0, 0, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-9 .tb_wmk7682.module-text{font-size:12px;}
.themify_builder_content-9 .tb_wmk7682.module-text .tb_text_wrap,.themify_builder_content-9 .tb_wmk7682.module-text .tb_text_wrap p,.themify_builder_content-9 .tb_wmk7682.module-text .tb_text_wrap blockquote,.themify_builder_content-9 .tb_wmk7682.module-text .tb_text_wrap h1,.themify_builder_content-9 .tb_wmk7682.module-text .tb_text_wrap h2,.themify_builder_content-9 .tb_wmk7682.module-text .tb_text_wrap h3,.themify_builder_content-9 .tb_wmk7682.module-text .tb_text_wrap h4,.themify_builder_content-9 .tb_wmk7682.module-text .tb_text_wrap h5,.themify_builder_content-9 .tb_wmk7682.module-text .tb_text_wrap h6,.themify_builder_content-9 .tb_wmk7682.module-text .tb_text_wrap li,.themify_builder_content-9 .tb_wmk7682.module-text .tb_text_wrap span{color:rgba(0, 0, 0, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
@media screen and (max-width: 680px) {
.themify_builder_content-9 .tb_0jyk573.module-text{margin-top:46px;}
}