/* Generated from page: complete */
.themify_builder_content-87 .tb_59y0213.module_row{background-position:50% 50%; background-attachment:scroll; background-repeat:no-repeat;background-size:cover; background-image:url(https://creditassessment.com.au/wp-content/uploads/2020/01/thankyou-banner-1.jpg); padding-bottom:206px; background-color:rgba(238, 96, 34, 1); margin-bottom:0px; margin-top:-10px; padding-left:0px; padding-right:0px; padding-top:166px;}
.themify_builder_content-87 .tb_c75g214.module_column{padding-top:30px;}
.themify_builder_content-87 .tb_acuq214.module-text .tb_text_wrap,.themify_builder_content-87 .tb_acuq214.module-text .tb_text_wrap p,.themify_builder_content-87 .tb_acuq214.module-text .tb_text_wrap blockquote,.themify_builder_content-87 .tb_acuq214.module-text .tb_text_wrap h1,.themify_builder_content-87 .tb_acuq214.module-text .tb_text_wrap h2,.themify_builder_content-87 .tb_acuq214.module-text .tb_text_wrap h3,.themify_builder_content-87 .tb_acuq214.module-text .tb_text_wrap h4,.themify_builder_content-87 .tb_acuq214.module-text .tb_text_wrap h5,.themify_builder_content-87 .tb_acuq214.module-text .tb_text_wrap h6,.themify_builder_content-87 .tb_acuq214.module-text .tb_text_wrap li,.themify_builder_content-87 .tb_acuq214.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-87 .tb_acuq214.module-text{margin-right:14px; padding-top:19px;}
.themify_builder_content-87 .tb_qq6c215.module-text .tb_text_wrap,.themify_builder_content-87 .tb_qq6c215.module-text .tb_text_wrap p,.themify_builder_content-87 .tb_qq6c215.module-text .tb_text_wrap blockquote,.themify_builder_content-87 .tb_qq6c215.module-text .tb_text_wrap h1,.themify_builder_content-87 .tb_qq6c215.module-text .tb_text_wrap h2,.themify_builder_content-87 .tb_qq6c215.module-text .tb_text_wrap h3,.themify_builder_content-87 .tb_qq6c215.module-text .tb_text_wrap h4,.themify_builder_content-87 .tb_qq6c215.module-text .tb_text_wrap h5,.themify_builder_content-87 .tb_qq6c215.module-text .tb_text_wrap h6,.themify_builder_content-87 .tb_qq6c215.module-text .tb_text_wrap li,.themify_builder_content-87 .tb_qq6c215.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-87 .tb_qq6c215.module-text{margin-left:50px; margin-right:50px; margin-top:50px;}
.themify_builder_content-87 .tb_qeyo215.module_column{padding-left:0px;}

@media screen and (max-width: 768px) {
.themify_builder_content-87 .tb_59y0213.module_row{margin-bottom:0px; margin-top:0px; padding-left:0px; padding-bottom:10px; padding-right:0px; padding-top:24px;}
.themify_builder_content-87 .tb_c75g214.module_column{padding-right:267px;}
.themify_builder_content-87 .tb_qq6c215.module-text{margin-right:-4px; margin-left:1px;}
}
@media screen and (max-width: 680px) {
.themify_builder_content-87 .tb_59y0213.module_row{padding-top:25px; padding-right:0px; background-color:rgba(238, 96, 34, 1); background-position:left bottom; background-attachment:scroll; background-repeat:no-repeat;background-size:cover; background-image:url(https://www.cleancredit.com.au/wp-content/uploads/2019/12/credit-assessment-banner-2.jpg); padding-bottom:21px; margin-bottom:0px; margin-top:-5px;}
.themify_builder_content-87 .tb_c75g214.module_column{padding-right:0px; padding-left:0px;}
.themify_builder_content-87 .tb_acuq214.module-text{margin-left:0px; margin-right:20px; padding-right:36px;}
.themify_builder_content-87 .tb_qq6c215.module-text{margin-right:3px; margin-left:0px;}
}