/* Generated from page: 404-page */
.themify_builder_content-95 .tb_5zqw534.module_row{background-position:center center; background-attachment:scroll; background-repeat:no-repeat;background-size:cover; background-image:url(https://www.cleancredit.com.au/wp-content/uploads/2019/12/credit-assessment-banner-2.jpg); padding-bottom:218px; background-color:rgba(238, 96, 34, 1); margin-bottom:0px; margin-top:0px; padding-left:0px; padding-right:0px; padding-top:8px;}
.themify_builder_content-95 .tb_x9a9534.module_column{padding-top:195px; padding-bottom:1px;}
.themify_builder_content-95 .tb_00qy534.module-text .tb_text_wrap,.themify_builder_content-95 .tb_00qy534.module-text .tb_text_wrap p,.themify_builder_content-95 .tb_00qy534.module-text .tb_text_wrap blockquote,.themify_builder_content-95 .tb_00qy534.module-text .tb_text_wrap h1,.themify_builder_content-95 .tb_00qy534.module-text .tb_text_wrap h2,.themify_builder_content-95 .tb_00qy534.module-text .tb_text_wrap h3,.themify_builder_content-95 .tb_00qy534.module-text .tb_text_wrap h4,.themify_builder_content-95 .tb_00qy534.module-text .tb_text_wrap h5,.themify_builder_content-95 .tb_00qy534.module-text .tb_text_wrap h6,.themify_builder_content-95 .tb_00qy534.module-text .tb_text_wrap li,.themify_builder_content-95 .tb_00qy534.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-95 .tb_00qy534.module-text{margin-right:14px; padding-top:19px; padding-bottom:36px;}
.themify_builder_content-95 .tb_i9ea47.module-buttons .module-buttons-item a:hover span,.themify_builder_content-95 .tb_i9ea47.module-buttons .module-buttons-item a:hover i{color:rgba(255, 255, 255, 1);}
.themify_builder_content-95 .tb_i9ea47.module-buttons .module-buttons-item a span,.themify_builder_content-95 .tb_i9ea47.module-buttons .module-buttons-item a i{color:rgba(255, 255, 255, 1);}
.themify_builder_content-95 .tb_i9ea47.module-buttons .module-buttons-item a:hover{background-color:rgba(23, 56, 99, 1);background-image:none;}
.themify_builder_content-95 .tb_i9ea47.module-buttons .module-buttons-item a{background-color:rgba(56, 138, 202, 1);background-image:none;}
.themify_builder_content-95 .tb_9hcu536.module_column{padding-left:0px;}

@media screen and (max-width: 768px) {
.themify_builder_content-95 .tb_5zqw534.module_row{margin-bottom:0px; margin-top:0px; padding-left:0px; padding-bottom:10px; padding-right:0px; padding-top:24px;}
.themify_builder_content-95 .tb_x9a9534.module_column{padding-right:267px;}
}
@media screen and (max-width: 680px) {
.themify_builder_content-95 .tb_5zqw534.module_row{padding-top:25px; padding-right:2px; background-color:rgba(238, 96, 34, 1); background-position:left bottom; background-attachment:scroll; background-repeat:no-repeat;background-size:cover; background-image:url(https://www.cleancredit.com.au/wp-content/uploads/2019/12/credit-assessment-banner-2.jpg); padding-bottom:21px; margin-bottom:0px; margin-top:-5px;}
.themify_builder_content-95 .tb_x9a9534.module_column{padding-right:0px; padding-left:26px;}
.themify_builder_content-95 .tb_00qy534.module-text{margin-left:0px; margin-right:20px; padding-right:0px; padding-top:0px;}
}